.cabeçalho{
    background-color:LightSlateGrey;
    color:Black;
    text-align: center;
}

.penis{
    background-color:DarkSlateGray;
}

.titulolgbt{
   background-color:DimGrey;
   text-align: center;
   color:LightSteelBlue;
}

.holandia{
     background-color:Grey;
}

.piru{
     background-color:Black;
}

.bolas{
    background-color:DarkGrey;
}
