.cabeçalho{
    background-color: darkblue;
    color:rgb(255, 255, 255);
    text-align: center;
    font: oblique;
    font-size: 25px;
    padding-top: 15px;
}

.logotipo{
    width: 750px;
    margin: 10px;
    border-style: groove;
    border-color: black;
}

.button{
    width: 75px;
    padding: 5px;
    cursor: pointer;
    border-radius: 100px;
}

.botãozinho{
    background-color: rgb(2, 2, 34);
}