.cabeçalho{
    background-color: darkblue;
    color:rgb(255, 255, 255);
    text-align: center;
    font: oblique;
    text-size-adjust: right;
}

.logotipo{
    width: 5000px;
    padding: 150px;
    margin: 120px;
}

.button{
    width: 55px;
    padding: 5px 5x;
    cursor: pointer;
    border-radius: 10px;
    size-adjust: right;
}

.botãozinho{
    background-color: rgb(2, 2, 34);
}

.rodapé{
    background-color: darkblue;
}