.cabeçalho{
    background-color: darkblue;
    color:rgb(255, 255, 255);
    text-align: center;
    font: oblique;
}

.logotipo{
    width: 555px;
    padding: 25px;
    margin: 20px;
}

.button{
    width: 55px;
    padding: 5px 5x;
    cursor: pointer;
    border-radius: 10px;
    size-adjust: right;
}
